// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
  "diff_view_style": "split",
  "proxy": "",
  "agent_buffer_font_size": 15.0,
  "languages": {
    "JavaScript": {
      "code_actions_on_format": {
        "source.fixAll.eslint": true
      }
    },
    "Python": {
      "language_servers": ["pylsp", "!basedpyright"],
    },
  },
  "lsp": {
    "wakatime": {
      "initialization_options": {
        "api-key": "{{ .wakatimeApiKey }}"
      }
    },
    "pylsp": {
      "settings": {
        "plugins": {
          "pycodestyle": { "enabled": false },
          "pyflakes": { "enabled": false },
          "mccabe": { "enabled": false },
          "rope_autoimport": { "enabled": true }
        },
      },
    },
    "sonarlint": {
      "settings": {
        "connectedMode": {
          "connections": {
            "sonarqube": [
              {


                "token": "{{ .sonarqubeToken }}"
              }
            ]
          }
        }
      }
    },
  },
  "restore_on_startup": "last_session",
  "soft_wrap": "none",
  "preferred_line_length": 120,
  "git_panel": {
    "sort_by": "path",
    "entry_primary_click_action": "view_file",
    "tree_view": false,
    "collapse_untracked_diff": false,
    "status_style": "label_color",
    "show_count_badge": true,
    "file_icons": true,
  },
  "ensure_final_newline_on_save": false,
  "markdown_preview": {
    "limit_content_width": true,
  },
  "code_lens": "on",
  "git": {
    "inline_blame": {
      "show_commit_summary": true,
    },
  },
  "calls": {
    "mute_on_join": false,
  },
  "terminal": {
    "show_count_badge": false,
    "font_size": 13.0,
  },
  "project_panel": {
    "diagnostic_badges": true,
    "git_status_indicator": true,
  },
  "tabs": {
    "git_status": false,
    "file_icons": true,
  },
  "title_bar": {
    "show_menus": false,
    "show_branch_status_icon": false,
  },
  "status_bar": {
    "show_active_file": false,
    "line_endings_button": false,
    "active_language_button": true,
  },
  "prettier": {
    "allowed": true,
  },
  "inlay_hints": {
    "show_parameter_hints": true,
    "show_value_hints": true,
    "show_type_hints": false,
    "show_other_hints": true,
    "show_background": false,
    "enabled": true,
  },
  "toolbar": {
    "code_actions": false,
  },
  "agent_ui_font_size": 16.0,
  "buffer_line_height": "comfortable",
  "diagnostics": {
    "button": true,
    "inline": {
      "enabled": true,
    },
  },
  "language_models": {
    "opencode": {
      "show_go_models": false,
    },
  },
  "edit_predictions": {
    "provider": "copilot",
    "allow_data_collection": "no",
  },
  "agent": {

    "enable_feedback": false,
    "expand_terminal_card": false,
    "max_content_width": 850.0,
    "limit_content_width": true,
    "flexible": true,
    "show_turn_stats": true,
    "single_file_review": true,
    "dock": "right",
    "sidebar_side": "right",
    "favorite_models": [],
    "model_parameters": [],
    "thinking_display": "preview",
  },
  "agent_servers": {
    "claude-acp": {
      "default_config_options": {
        "mode": "plan"
      },
      "type": "registry",
    },
  },
  "telemetry": {
    "diagnostics": false,
    "metrics": false,
  },
  "base_keymap": "VSCode",
  "mouse_wheel_zoom": true,
  "minimap": {
    "show": "never",
  },
  "autosave": "off",
  "show_whitespaces": "all",
  "icon_theme": "Material Icon Theme",
  "ui_font_size": 16.0,
  "buffer_font_size": 14.0,
  "theme": "One Dark Pro Darker",
  "theme_overrides": {
    "One Dark Pro Darker": {
      "syntax": {
        "comment": {
          "color": "#7f848eff"
        },
        "comment.doc": {
          "color": "#7f848eff"
        },
        "constant.comment.todo": {
          "color": "#61afefff",
          "background_color": "#61afef33",
          "font_weight": 700
        },
        "constant.comment.todo.text": {
          "color": "#61afefff",
          "background_color": "#61afef33",
          "font_weight": 400
        },
        "string.comment.info": {
          "color": "#98c379ff",
          "background_color": "#98c37933",
          "font_weight": 700
        },
        "string.comment.info.text": {
          "color": "#98c379ff",
          "background_color": "#98c37933",
          "font_weight": 400
        },
        "keyword.comment.warn": {
          "color": "#e5c07bff",
          "background_color": "#e5c07b33",
          "font_weight": 700
        },
        "keyword.comment.warn.text": {
          "color": "#e5c07bff",
          "background_color": "#e5c07b33",
          "font_weight": 400
        },
        "property.comment.error": {
          "color": "#e06c75ff",
          "background_color": "#e06c7533",
          "font_weight": 700
        },
        "property.comment.error.text": {
          "color": "#e06c75ff",
          "background_color": "#e06c7533",
          "font_weight": 400
        },
      },
    },
  },
  "log": {
    "dev_container": "trace",
    "remote": "trace",
    "terminal": "trace",
  },
}
